.container {
    background-image: url("../img/terrain_foot.jpg");
    background-size: cover;
    min-height: 100vh;
    padding: 2rem 0;
    text-align: center;
}

.section__login {
    position: relative;
    height: 80vh;
}

.section__tchat {

}

